# ignore everyhting
*

# except the following
!/thingsboard_gateway/
!LICENSE
!README.md
!setup.py
!requirements.txt
!/docker/start-gateway.sh

# ignore on every level
**/__pycache__/
**/*.py[cod]
**/logs/
